.section-title {
  font-weight: 700;
  color: rgb(66, 66, 66);
  font-size: 2rem;
  text-align: center;
  border-block: solid 2px rgb(66, 66, 66);
  padding-block: 0.5rem;
}

.form-control {
  border-color: black;
  background-color: rgb(247, 247, 247);
}

.form-control.not-empty {
  background-color: rgb(0, 128, 0, 0.5);
}

.form-control.empty {
  background-color: rgb(255, 0, 0, 0.2);
}
